<div class="card mx-auto">
  <div class="row align-items-center">
    <div class="col-md-3">
      <img src="{{user.image}}" class="img-fluid rounded-start m-3" alt="avatar" style="height: 250px; width: 250px;">
    </div>
    <div class="col-md-6 row">
      <div class="card-body col-6">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        {{#ifCond user.id reqUser.id}}
          <a class="btn btn-primary mt-5 btn-sm" href="/users/{{user.id}}/edit">Edit</a>
        {{else}}
        {{/ifCond}}
        <a class="btn btn-outline-secondary mt-5 btn-sm" href="javascript:history.back()">Back</a>
      </div>
      <div class="card-body col-6">
        <p class="card-text"><strong>{{comments.length}} 家已評論餐廳</strong></p>
        <p class="mt-1"><strong>{{user.FavoritedRestaurants.length}} 家已收藏的餐廳</strong></p>
        <p class="mt-1"><strong>{{user.Followings.length}} Followings (追蹤者)</strong></p>
        <p class="mt-1"><strong>{{user.Followers.length}} Followers (追隨者)</strong></p>
      </div>
    </div>
  </div>
</div>
{{!-- comments --}}
{{!-- <div class="card mx-auto mt-3">
  <div class="card-header">
    {{length user.Comments}} 家已評論餐廳
  </div>
  <div class="card-body">
    {{#each user.Comments}}
    <a href="/restaurants/{{this.Restaurant.id}}" class="me-2" style="text-decoration:none;">
      <img class="rounded" style="height: 100px; width: 100px;" src="{{this.Restaurant.image}}"
        alt="{{this.Restaurant.name}}">
    </a>
    {{/each}}
  </div>
</div> --}}
<div class="row">
  <div class="col-6">
    {{!-- Following --}}
    <div class="card mx-auto mt-3">
      <div class="card-header">
        {{user.Followings.length}} followings (追蹤者)
      </div>
      <div class="card-body">
        {{#if user.Followings.length}}
          {{#each user.Followings}}
          <a href="/users/{{this.id}}" class="me-2" style="text-decoration:none;">
            <img class="rounded" style="height: 100px; width: 100px;" src="{{this.image}}"
              alt="{{this.name}}">
          </a>
          {{/each}}
        {{else}}
          <h5>No Followings</h5>
        {{/if}}
      </div>
    </div>
    {{!-- Follower --}}
    <div class="card mx-auto mt-3">
      <div class="card-header">
        {{user.Followers.length}} Followers (追隨者)
      </div>
      <div class="card-body">
        {{#if user.Followers.length}}
          {{#each user.Followers}}
          <a href="/users/{{this.id}}" class="me-2" style="text-decoration:none;">
            <img class="rounded" style="height: 100px; width: 100px;" src="{{this.image}}"
              alt="{{this.name}}">
          </a>
          {{/each}}
        {{else}}
          <h5>No Followers</h5>
        {{/if}}
      </div>
    </div>
  </div>
    <div class="col-6">
      {{!-- comments no repeat --}}
      <div class="card mx-auto mt-3">
        <div class="card-header">
          {{comments.length}} 家已評論餐廳
        </div>
        <div class="card-body">
          {{#if comments.length}}
            {{#each comments}}
            <a href="/restaurants/{{this.Restaurant.id}}" class="me-2" style="text-decoration:none;">
              <img class="rounded" style="height: 100px; width: 100px;" src="{{this.Restaurant.image}}"
                alt="{{this.Restaurant.name}}">
            </a>
            {{/each}}
          {{else}}
            <h5>No restaurant comments yet</h5>
          {{/if}}
        </div>
      </div>
      {{!-- Favorited --}}
      <div class="card mx-auto mt-3">
        <div class="card-header">
          {{user.FavoritedRestaurants.length}} 家已收藏餐廳
        </div>
        <div class="card-body">
          {{#if user.FavoritedRestaurants.length}}
            {{#each user.FavoritedRestaurants}}
            <a href="/restaurants/{{this.id}}" class="m-2" style="text-decoration:none;">
              <img class="rounded" style="height: 100px; width: 100px;" src="{{this.image}}"
                alt="{{this.name}}">
            </a>
            {{/each}}
          {{else}}
            <h5>No favorite restaurant yet</h5>
          {{/if}}
        </div>
      </div>
    </div>
</div>